#navbar{
    background-color: coral;
    display: inline-block;
    color: navajowhite;
    height: 3em;
    box-sizing: border-box;
    padding: 1em 1em;
    font-weight:bolder;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 90%;

}